%h3 Umbrella
= simple_form_for @umbrella do |f|
  - if @umbrella.errors.any?
    #errors
      %p
        = @umbrella.errors.count
        errors prevented from saving this Umbrella.
      %ul
        - @umbrella.erros.full_messages.ech do |msg|
          %li= msg
  .panel-body
    = f.input :message, input_html: { class: 'form-control' }
    .row
      .col-md-6
        %h4 Add friends emails
        #friends
          = f.simple_fields_for :friends do |friend|
            = render 'friend_fields', f: friend
          .links
            = link_to_add_association 'add friend', f, :friends, class: 'btn btn-light add-button'
  = f.button :submit, class: 'btn btn-primary'
