.container
  %h2 Hej! Twój znajomy #{@friend.umbrella.user.email} poprosił Cię o wsparcie!
  .panel.panel-primary
    .panel-heading
      %p
        Cześć, Umbrella jest aplikacją, która pomaga ludziom poznać swoje mocne strony.
        W jaki sposób? Właśnie robimy to teraz! W imieniu #{@friend.umbrella.user.email}
        prosimy Cię, a także innych znajomych, których nam podał, żebyś zastanowił/a się chwilę nad tym, w czym #{@friend.umbrella.user.email}
        jest dobry, co jej/jego mocną stroną, za co ją/jego lubisz? Wiesz o co chodzi, prawda?
        Twoja wypowiedź będzie anonimowa. #{@friend.umbrella.user.email} dostanie zbiów wszystkich wypowiedzi bez informacji, która
        pochodzi od kogo.

        Teraz po prostu kliknij w poniższy link i napisz kilka słów. #{@friend.umbrella.user.email} będzie Ci wdzięczny/a!

      %h2
        = link_to 'Zostaw komentarz', edit_umbrella_friend_url(@friend.umbrella, @friend)
